.input_wrapper{
    position: relative;
    display: flex;
    margin-bottom: 32px;

    .search_icon {
        cursor: pointer;
        position: absolute;
        box-sizing: border-box;
        top: 50%;
        left: 2px;
        transform: translateY(-50%);
        margin-left: 14px;
    }

    .input {
        width: 100%;
        padding: 12px 14px;
        box-sizing: border-box;
        padding-left: calc(1.50rem + 14px);
        border: 1px solid #919EAB52;
        border-radius: 6px;        
    }
}